.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem 0 10rem;
  min-height: 100vh;
}

.links {
  background-color: var(--slate-gray);
  color: var(--white);
  text-decoration: none;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  border-radius: 20px;
}

.links:hover {
  background-color: var(--white);
  color: var(--slate-gray);
  border: 2px solid var(--slate-gray)
}